@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62%;
  background-color: #e5e5e5;
}

.menu-wrap {
  position: absolute;
  width: 375px;
  height: 70px;
  padding: 20px;
  background-color: white;
}

.brand {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #6070ff;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: #6070ff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  height: 718px;
  background-image: url(/images/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.connect {
  width: 117px;
  height: 24px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socials ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  flex-direction: row;
}

li {
  list-style: none;
}

.cards {
  display: grid;
  gap: 88px;
  flex-direction: column;
  padding-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  width: 327px;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 22px;
  justify-content: space-between;
}

img {
  width: 100%;
}

.text-title {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.subtitle {
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.experience {
  display: flex;
  width: 100%;
}

.skills li {
  align-items: center;
  padding: 5px 12px;
  border: #ebebff;
  border-radius: 8px;
  margin-left: 5px;
  background: #ebebff;
  height: 28px;
  justify-content: space-between;
}

.block li {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 2px;
}

.experience ul li {
  margin-left: 10px;
}

.block {
  display: flex;
  flex-direction: row;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 5px;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-left: -10px;
  margin-bottom: 10px;
}

.button {
  width: 40%;
  height: 50px;
  color: #6070ff;
  border: #6070ff 1px solid;
  border-radius: 6px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  justify-content: flex-start;
}

.but {
  display: flex;
  align-content: flex-end;
  width: 100%;
}

.introduction {
  height: 1263px;
  left: 375px;
  top: 4769px;
  padding: 22px;
  border-top-right-radius: 8em;
  padding-top: 100px;
  background-color: white;
}

h1 {
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume {
  width: 50%;
  height: 50px;
  color: #6070ff;
  border: #6070ff 1px solid;
  border-radius: 6px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.lang-skills {
  padding: 20px;
}

.lg {
  font-size: 20px;
  font-weight: 500;
  font-family: 'poppins', sans-serif;
  font-style: none;
}

.down {
  display: flex;
  flex-direction: row;
  width: 20px;
  margin-left: 90%;
  margin-top: -20px;
}

.show-skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sl {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  color: #253858;
  margin-bottom: 10px;
}

.lang-img {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

.frame {
  padding: 20px;
}

.forward {
  display: flex;
  flex-direction: row;
  width: 10px;
  margin-left: 90%;
  margin-top: -60px;
}

.divider1 {
  margin-top: 35px;
}

.divider2 {
  margin-top: 35px;
}

.span {
  padding: 10px;
}

.contact {
  display: flex;
  height: 870px;
  background: url(./images/contact.png)  no-repeat #6070ff;
  border-top-left-radius: 8em;
  margin-top: -164px;
  background-size: 62%;
  background-position: right;
}

.contact-me {
  position: absolute;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4850px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.more {
  position: absolute;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4907px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.input-text {
  width: 90%;
  height: 40px;
  padding: 20px;
  position: absolute;
  left: 24px;
  top: 5097px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.input-text::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

.input-email {
  width: 90%;
  height: 40px;
  padding: 20px;
  position: absolute;
  left: 24px;
  top: 5155px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.input-email::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
}

#text-message {
  width: 116%;
  margin-top: 550px;
  margin-left: 24px;
  border-radius: 8px;
  padding: 20px;
}

#text-message::placeholder {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 142px;
  height: 48px;
  left: 24px;
  top: 5423px;
  background: #fff;
  border-radius: 8px;
  border: white;
}

.contact-btn {
  display: flex;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  align-items: center;
  color: #6070ff;
  line-height: 24px;
  letter-spacing: 0.03em;
}
