@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 62%;
    background-color: #e5e5e5;
}

.menu-wrap {
  position: absolute;
  width: 376px;
  height: 70px;
  padding: 20px;
  background-color: white;
}

.brand {
  width: 76px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #6070ff;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color:  #6070ff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
    width: 375px;
    height: 718px;
    background-image: url(/images/header.png);
    background-repeat: no-repeat;
    background-color: white;
    border: 2px solid red;
    border-bottom-left-radius: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.intro {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

.connect {
  width: 117px;
  height: 24px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socials ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid green; */
  padding: 2px;
  align-items: center;
  flex-direction: row;
}

 li {
   list-style: none;

}



